body {
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: #f0f8ff;
  color: #333;
  margin: 0;
  padding: 0;
}

header {
  background-color: #4CAF50;
  color: white;
  padding: 20px;
}

main {
  margin-top: 40px;
}

input {
  padding: 10px;
  font-size: 16px;
  width: 60px;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  margin-left: 10px;
  cursor: pointer;
}

button:hover {
  background-color: #e5533c;
  color: white;
}
